NANO_BANANA_API_KEY=sk-lc***M4
STRIPE_SECRET_KEY=sk_test_51P***KtTk
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KE=pk_test_51PGldV***tOR
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# AI 生成价格（单位：美分）
# 100 = $1.00
# 200 = $2.00
AI_GENERATION_PRICE_CENTS=169